---
layout: page
title: Blogs
permalink: /blogs/
---

<div class="timeline-container">
  {% assign listed_posts = site.posts | where_exp:"post", "post.listed != false" %}
  {% assign posts_by_year = listed_posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  {% for year_group in posts_by_year %}
  <div class="timeline-row">
    <div class="timeline-year">{{ year_group.name }}</div>
    <div class="timeline-posts">
      {% for post in year_group.items %}
      <div class="timeline-item">
        <div class="timeline-content">
          <small
            ><time datetime="{{ post.date | date_to_xmlschema }}"
              >{{ post.date | date: "%B %d" }}</time
            ></small
          >
          <h3><a href="{{ post.url | relative_url}}">{{ post.title }}</a></h3>
          <p>{{ post.description }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
